<div class="container" style="margin-bottom: 100px;">

    <div>
        <a style="margin-top:20px;" href="#/" class="btn btn-sm btn-default"><i class="fa fa-arrow-left"></i> Back</a>
    </div>

    <wait-cursor display-when="vm.isBusy"></wait-cursor>
    <div class="container" id="trackingContainer" style="margin-top:80px; margin-bottom:20px;">
        <div class="text-danger" id="notFound" ng-show="vm.errorMessage"><center><h1>{{ vm.errorMessage }}</h1></center></div>

        <div class="row-fluid">
            <h3>Tracking Number: {{vm.trackingNumber}}</h3>
            <table>
                <tr>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Activity</th>
                    <th></th>
                </tr>
                <tr ng-repeat="trip in vm.stops">
                    <td>{{trip.date | date:'MM-dd-yyyy'}}</td>
                    <td>{{trip.location}}</td>
                    <td>{{trip.activity}}</td>
                    <td>
                        <a style="color:red; float:right; cursor:pointer;"><i class="fa fa-remove" ng-click="vm.deleteStop($index)"></i></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div>
        <section id="AddStop-page" class="container" style="margin-top:40px;">
            <form class="center" name="createStop" ng-submit="vm.addStop()">
                <fieldset class="registration-form">
                    <div class="control-group">
                        <div class="controls">
                            <input required="required" type="text" placeholder="Location" class="input-large" ng-model="vm.newStop.Location">
                        </div>

                    </div>

                    <div class="control-group">
                        <div class="controls">
                            <input required="required" type="text" placeholder="Activity" class="input-large" ng-model="vm.newStop.Activity">
                        </div>
                    </div>

                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <input type="submit" value="Add New Package" class="btn btn-success btn-sm" />
                        </div>
                    </div>
                </fieldset>
            </form>
        </section>
    </div>

</div>
